@model ResetPasswordViewModel

@{
    ViewData["Title"] = "ResetPassword";
    Layout = "_AuthLayout";
}
<div class="w-lg-500px p-10">
    <form class="form w-100" novalidate="novalidate" asp-action="ResetPassword" method="post">
        <div class="text-center mb-11">
            <h1 class="text-dark fw-bolder mb-3">Set Password</h1>
            <p> Please Set the Password For Login.</p>
        </div>
        <input type="hidden" asp-for="Code" />
        <div class="fv-row mb-8">
            <input placeholder="User Name" asp-for="UserName" autocomplete="off" class="form-control bg-transparent" readonly/>
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="fv-row mb-3">
            <input type="password" placeholder="Password" asp-for="Password" autocomplete="off" class="form-control bg-transparent" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="fv-row mb-3">
            <input type="password" placeholder="Confirm Password" asp-for="ConfirmPassword" autocomplete="off" class="form-control bg-transparent" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="d-grid mb-10">
            <button type="submit" id="kt_sign_in_submit" class="btn btn-primary">
                <span class="indicator-label">Set Password</span>
            </button>
        </div>
    </form>
</div>